.autocomplete-input-no-results.autocomplete-input-focused {
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0;
}

.autocomplete-input-no-results:not(.autocomplete-input-focused) ~ .autocomplete-result-list {
  display: none;
}

.wiki-result {
  border-top: 1px solid #eee;
  padding: 16px;
  background: transparent;
}

.wiki-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.wiki-snippet {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
