main {
  padding: 64px 16px;
}

.container {
  margin: 0 auto 64px auto;
  width: 100%;
  max-width: 600px;
}

.autocomplete-container {
  position: relative;
}

.autocomplete {
  display: flex;
}

input,
button {
  font-family: inherit;
}

.autocomplete-input {
  border: 1px solid rgba(0, 0, 0, 0.54);
  width: 100%;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
}

.autocomplete-submit {
  border: 1px solid #1c5b72;
  padding: 8px 16px;
  background: #1c5b72;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autocomplete-submit svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.autocomplete-results {
  /* display: none; */
  position: absolute;
  margin-top: -1px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  padding: 4px 0;
  width: 100%;
  z-index: 1;
  background: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: none;
}

.autocomplete[aria-expanded="true"] ~ .autocomplete-results {
  display: block;
}

.autocomplete-result {
  cursor: default;
  padding: 4px 8px;
}

.autocomplete-result:hover {
  background: rgba(0, 0, 0, 0.12);
}

.autocomplete-result[aria-selected="true"] {
  background: rgba(0, 0, 0, 0.12);
}

.hidden {
  display: none;
}

/* General layout and typography stuff */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

* {
  box-sizing: border-box;
  position: relative;
  transition: all .3s ease;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, .87);
  font-weight: 400;
  line-height: 1.45;
  min-height: 100%;
  margin: 0;
}

body,
header {
  background: #fafafa;
}

header {
  padding: 40px;
  min-height: 200px;
  text-align: center;
  color: rgba(0, 0, 0, .87)
}

header > * {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto
}

header>:last-child {
  margin-bottom: 0
}

h1 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #1c5b72;
  font-size: 2.618em
}

p {
  margin-bottom: 1.3em;
  line-height: 1.618
}

@media (min-width:800px) {
  h1 {
    font-size: 4.236em;
    font-weight: 300
  }

  p {
    font-size: 1.3em
  }
}

a {
  color: #e03616;
  text-decoration: none
}
